:root {
    --spotify-green: #1DB954;
    --spotify-white: #FFFFFF;
    --spotify-black: #191414;
}

a {
    color: var(--spotify-green);
}

body {
    background-color: var(--spotify-black);
    color: var(--spotify-white);
    font-family: sans-serif;
}

.button {
    background-color: var(--spotify-green);
    border-radius: 50px;
    color: var(--spotify-white);
    font-size: 25px;
    font-weight: bold;
    padding: 25px;
    text-align: center;
    text-decoration: none;
}

.center {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    width: 40%;
}

.center-content-narrow {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    width: 40%;
}

.container {
    padding-bottom: 150px;
}

footer {
    background-color: var(--spotify-black);
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding-bottom: 25px;
    text-align: center;
}

.footer-links {
    width: 80%;
    margin: auto;
}

.footer-table {
    width: 80%;
    margin: 0px auto;
}

.form-submit-button {
    background-color: var(--spotify-green);
    border-radius: 50px;
    color: var(--spotify-white);
    font-size: 25px;
    font-weight: bold;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    border-style: none;
    text-shadow: none;
    cursor: pointer;
}

.four-columns {
    width: calc(100% / 4);
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
    font-weight: normal;
}

.inner-table {
    width: 100%;
}

p {
    font-size: 16px;
}

.p-home {
    font-size: 25px;
}

td {
    vertical-align: top;
}

.three-columns {
    width: calc(100% / 3);
}

.two-columns {
    width: calc(100% / 2);
}

.wide-table {
    width: 90%;
    margin: auto;
}